# Config file for automatic testing at travis-ci.org
# This file will be regenerated if you run travis_pypi_setup.py

language: python
python:
  - 3.6
  - 3.5
  - 3.4

# Command to install dependencies, e.g. pip install -r requirements.txt --use-mirrors
install:
    - pip install requirements_dev.txt

# Command to run tests, e.g. python setup.py test
script:
    - flake8 thanks
    - python setup.py test


